.jb-job-pictures-wrapper {
  width: 690px;
  height: 840px;
  overflow-y: scroll;
  position: absolute;
  left: 30px;
  top: 30px;
}

/* Hide scrollbar in WebKit browsers */
.jb-job-pictures-wrapper::-webkit-scrollbar {
  display: none;
}

.jb-job-picture {
  object-fit: contain;
  width: 690px;
  height: 450px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.jb-job-picture-card {
  object-fit: cover;
  width: 440px;
  height: 220px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: absolute;
  left: 30px;
  top: 15px;
}

.jb-job-picture-add {
  position: relative;
  left: 42.5%;
  width: 100px;
  height: 100px;
}

.jb-job-picture-add-icon {
  position: relative;
  left: 9.75%;
  top: 10%;
}

.jb-job-picture-wrapper {
  margin-top: -100px;
}

.jb-job-picture-center {
  position: absolute;
  top: 20%;
}

.jb-job-picture-delete-button {
  border: none;
  position: relative;
  top: 115px;
  left: 600px;
}

.jb-job-picture-delete-button-icon {
  position: relative;
  left: -5px;
}