.jb-dropdown {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.jb-dropdown-list {
  margin-top: -10px;
  list-style-type: none;
}

.jb-dropdown-item {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
