.jb-bdr-r-10 {
  border-radius: 10px !important;
}

.jb-bdr-r-50 {
  border-radius: 50px !important;
}

.jb-bdr-c {
  border-radius: 50% !important;
}

.jb-bdr-wth-none {
  border-width: 0px !important;
}

.jb-bdr-wth-1 {
  border-width: 1px !important;
}

.jb-form-bdr-warning {
  border-width: 3px !important;
  border-color: red;
}
