.jb-job-card-container {
  width: 1500px;
  position: absolute;
  top: 150px;
  left: calc(50% - 750px);
}

.jb-job-card-column-left {
  width: 500px;
  position: absolute;
  left: 235px;
  display: inline-block;
}

.jb-job-card-column-right {
  width: 500px;
  position: absolute;
  left: 750px;
  top: 250px;
  display: inline-block;
}
