<jb-modal #jbModal [template]="authModalTemplate"></jb-modal>

<ng-template #authModalTemplate>
  <div class="jb-auth-form-container">
    <div class="jb-auth-logo jb-ft-clr-teal">
      <jb-avatar [text]="'JobBot'" [backgroundColor]="'#D9D9D9'"></jb-avatar>
    </div>
    <div class="jb-auth-container-bar jb-bg-clr-navy"></div>
    <div class="jb-auth-form-wrapper">
      <form>
        <jb-prompt></jb-prompt>
        <div *ngIf="showLoginForm">
          <jb-input [placeholder]="'Username'"></jb-input>
          <jb-input [placeholder]="'Password'"></jb-input>
          <button class="btn btn-link jb-ft-classic jb-ft-clr-red">
            Forget password or account?
          </button>
        </div>
        <div *ngIf="showRegisterForm">
          <jb-input [placeholder]="'Username'"></jb-input>
          <jb-input [placeholder]="'Email'"></jb-input>
          <jb-input [placeholder]="'Password'"></jb-input>
          <jb-input [placeholder]="'Re-enter password'"></jb-input>
        </div>
      </form>
    </div>
    <div class="jb-auth-func-group">
      <button
        type="button"
        class="btn btn-link jb-auth-switch-button jb-ft-classic jb-ft-clr-teal"
        (click)="switchLoginRegister()"
      >
        {{
          showLoginForm
            ? "Don't have an account? Register here"
            : 'Already have an account? Login here'
        }}
      </button>
      <button
        type="submit"
        class="btn btn-primary jb-auth-submit-button jb-btn-l-sqr jb-bdr-c jb-btn-clr-grey jb-btn-l-sqr jb-bdr-c"
      >
        <div class="jb-btn-l-sqr jb-icon jb-i-check jb-icon-orange"></div>
      </button>
    </div>
  </div>
</ng-template>
