<div class="jb-posted-job-filter-bar jb-bdr-r-50 jb-bg-clr-white jb-sd-el">
  <div class="jb-posted-job-filter-buttons">
    <button
      class="jb-posted-job-filter-button jb-anmt-dropdown jb-sd-el jb-bg-clr-navy jb-bdr-r-50"
      [ngStyle]="{ height: isPayFilterOpen ? '250px' : '80px' }"
      (click)="openPayFilter()"
    >
      <span *ngIf="!isPayFilterOpen" class="jb-ft-clr-white">{{
        'posted-job.filter.pay' | translate
      }}</span>
      <ng-container *ngIf="isPayFilterOpen">
        <div class="jb-posted-job-filter-function-items">
          <jb-input
            [placeholder]="'posted-job.filter.from' | translate"
            [(ngModel)]="payFilter.from"
          ></jb-input>
          <span class="jb-ft-clr-white jb-ft-normal">{{
            'posted-job.filter.to' | translate
          }}</span>
          <jb-input
            [placeholder]="'posted-job.filter.to' | translate"
            [(ngModel)]="payFilter.to"
          ></jb-input>
          <div class="jb-posted-job-filter-buttons">
            <button
              class="jb-posted-job-filter-function-button jb-bdr-r-10 jb-ft-normal jb-bg-clr-green jb-ft-clr-white"
              (click)="confirmPayFilter($event)"
            >
              {{ 'posted-job.filter.confirm' | translate }}
            </button>
            <button
              class="jb-posted-job-filter-function-button jb-bdr-r-10 jb-ft-normal jb-bg-clr-red jb-ft-clr-white"
              (click)="clearPayFilter()"
            >
              {{ 'posted-job.filter.clear' | translate }}
            </button>
            <button
              class="jb-posted-job-filter-function-button jb-bdr-r-10 jb-ft-normal jb-bg-clr-red jb-ft-clr-white"
              (click)="closePayFilter($event)"
            >
              {{ 'posted-job.filter.cancel' | translate }}
            </button>
          </div>
        </div>
      </ng-container>
    </button>
    <!-- TODO: should have a max height and make internal dropdown scrollable -->
    <button
      class="jb-posted-job-filter-button jb-anmt-dropdown jb-sd-el jb-bg-clr-navy jb-bdr-r-50"
      [ngStyle]="{ 'min-height': isLocationFilterOpen ? '250px' : '80px' }"
      (click)="openLocationFilter()"
    >
      <span *ngIf="!isLocationFilterOpen" class="jb-ft-clr-white">{{
        'posted-job.filter.location' | translate
      }}</span>
      <ng-container *ngIf="isLocationFilterOpen">
        <div class="jb-posted-job-filter-function-items">
          <jb-dropdown
            [type]="'typeahead'"
            [placeholder]="'posted-job.filter.location' | translate"
            [actionList]="[
              'Sydney',
              'Wollongong',
              'Melbourne',
              'Brisbane',
              'Perth',
              'Adelaide',
              'Canberra',
              'Hobart',
            ]"
            [(ngModel)]="locationFilter"
          ></jb-dropdown>
          <div class="jb-posted-job-filter-buttons">
            <button
              class="jb-posted-job-filter-function-button jb-bdr-r-10 jb-ft-normal jb-bg-clr-green jb-ft-clr-white"
              (click)="confirmLocationFilter($event)"
            >
              {{ 'posted-job.filter.confirm' | translate }}
            </button>
            <button
              class="jb-posted-job-filter-function-button jb-bdr-r-10 jb-ft-normal jb-bg-clr-red jb-ft-clr-white"
              (click)="clearLocationFilter()"
            >
              {{ 'posted-job.filter.clear' | translate }}
            </button>
            <button
              class="jb-posted-job-filter-function-button jb-bdr-r-10 jb-ft-normal jb-bg-clr-red jb-ft-clr-white"
              (click)="closeLocationFilter($event)"
            >
              {{ 'posted-job.filter.cancel' | translate }}
            </button>
          </div>
        </div>
      </ng-container>
    </button>
    <button
      class="jb-posted-job-filter-button jb-anmt-dropdown jb-sd-el jb-bg-clr-navy jb-bdr-r-50"
      [ngStyle]="{ height: isTimeFilterOpen ? '250px' : '80px' }"
      (click)="openTimeFilter()"
    >
      <span *ngIf="!isTimeFilterOpen" class="jb-ft-clr-white">{{
        'posted-job.filter.time' | translate
      }}</span>
      <ng-container *ngIf="isTimeFilterOpen">
        <div class="jb-posted-job-filter-function-items">
          <!-- <jb-input [placeholder]="'posted-job.filter.from' | translate"></jb-input> -->
          <jb-date-picker
            [placeholder]="'posted-job.filter.from' | translate"
            [(ngModel)]="timeFilter.from"
          ></jb-date-picker>
          <span class="jb-ft-clr-white jb-ft-normal">{{
            'posted-job.filter.to' | translate
          }}</span>
          <!-- <jb-input [placeholder]="'posted-job.filter.to' | translate"></jb-input> -->
          <jb-date-picker
            [placeholder]="'posted-job.filter.to' | translate"
            [(ngModel)]="timeFilter.to"
          ></jb-date-picker>
          <div class="jb-posted-job-filter-buttons">
            <button
              class="jb-posted-job-filter-function-button jb-bdr-r-10 jb-ft-normal jb-bg-clr-green jb-ft-clr-white"
              (click)="confirmTimeFilter($event)"
            >
              {{ 'posted-job.filter.confirm' | translate }}
            </button>
            <button
              class="jb-posted-job-filter-function-button jb-bdr-r-10 jb-ft-normal jb-bg-clr-red jb-ft-clr-white"
              (click)="clearTimeFilter()"
            >
              {{ 'posted-job.filter.clear' | translate }}
            </button>
            <button
              class="jb-posted-job-filter-function-button jb-bdr-r-10 jb-ft-normal jb-bg-clr-red jb-ft-clr-white"
              (click)="closeTimeFilter($event)"
            >
              {{ 'posted-job.filter.cancel' | translate }}
            </button>
          </div>
        </div>
      </ng-container>
    </button>
  </div>
</div>

<div class="jb-job-card-column">
  <ng-container *ngFor="let job of myPostedJobs$ | async as myPostedJobs">
    <div class="jb-posted-job-group">
      <div class="jb-posted-job-group-option">
        <div class="jb-posted-job-icon-text-container jb-ft-pst-ctr">
          <div class="jb-btn-l-sqr jb-icon jb-i-dot jb-icon-black"></div>
          <span class="jb-ft-classic jb-posted-job-date">{{
            job.time.toString()
          }}</span>
        </div>
      </div>
      <div class="jb-posted-job-group-card">
        <jb-job-card [job]="job" [viewOnlyMode]="true"></jb-job-card>
      </div>
      <div class="jb-posted-job-group-option jb-posted-job-icon-text-container">
        <jb-posted-job-options [job]="job"></jb-posted-job-options>
      </div>
    </div>
  </ng-container>
</div>
