<div
  [ngClass]="{
    'jb-detail-card': jobCardMode,
    'jb-job-detail-wrapper': !jobCardMode,
  }"
>
  <form *ngIf="editMode" [formGroup]="jobDetailForm">
    <jb-prompt
      *ngIf="!!jobDetailFormError"
      [prompt]="jobDetailFormError"
    ></jb-prompt>
    <div>
      <jb-input
        class="jb-job-detail-form"
        [placeholder]="'job-detail.form.placeholder.jobTitle' | translate"
        formControlName="jobTitle"
      ></jb-input>
      <jb-input
        class="jb-job-detail-form"
        [placeholder]="'$Pay'"
        formControlName="pay"
      ></jb-input>
      <jb-dropdown
        [placeholder]="'job-detail.form.placeholder.location' | translate"
        formControlName="location"
        [type]="'typeahead'"
        [actionList]="['Sydney', 'North Sydney']"
      ></jb-dropdown>
      <jb-date-picker
        [placeholder]="'job-detail.form.placeholder.date' | translate"
        formControlName="date"
      ></jb-date-picker>
      <jb-time-picker formControlName="time"></jb-time-picker>
      <jb-textarea
        [placeholder]="'job-detail.form.placeholder.description' | translate"
        formControlName="description"
        [height]="'220px'"
      ></jb-textarea>
    </div>
  </form>
  <ng-container *ngIf="!editMode">
    <p class="jb-ft-classic jb-detail-title jb-mtmb-0">
      {{ 'job-detail.jobTitle' | translate: { title: job?.title } }}
    </p>
    <p class="jb-ft-classic jb-detail-info jb-mtmb-0">
      {{ 'job-detail.pay' | translate: { pay: job?.pay } }}
    </p>
    <p class="jb-ft-classic jb-detail-info jb-mtmb-0">
      {{ 'job-detail.location' | translate: { location: job?.location } }}
    </p>
    <p class="jb-ft-classic jb-detail-info jb-mtmb-0">
      {{ 'job-detail.time' | translate: { time: job?.time.toString() } }}
    </p>
    <ng-container *ngIf="!jobCardMode">
      <p class="jb-ft-classic jb-detail-info jb-mtmb-0">
        {{ 'job-detail.description' | translate }}
      </p>
      <p class="jb-ft-normal jb-detail-description jb-mtmb-0">
        {{ job?.description }}
      </p>
    </ng-container>
  </ng-container>
</div>
