<div class="jb-job-detail-wrapper">
  <form *ngIf="isCreate" [formGroup]="jobDetailForm">
    <jb-prompt
      *ngIf="!!jobDetailFormError"
      [prompt]="jobDetailFormError"
    ></jb-prompt>
    <div>
      <jb-input
        [placeholder]="'Job title'"
        formControlName="jobTitle"
      ></jb-input>
      <jb-input [placeholder]="'$Pay'" formControlName="pay"></jb-input>
      <jb-dropdown
        [placeholder]="'Location'"
        formControlName="location"
        [type]="'typeahead'"
        [actionList]="['Sydney', 'North Sydney']"
      ></jb-dropdown>
      <jb-date-picker
        [placeholder]="'Date'"
        formControlName="date"
      ></jb-date-picker>
      <jb-time-picker formControlName="time"></jb-time-picker>
      <jb-textarea
        [placeholder]="'Description'"
        formControlName="description"
        [height]="'220px'"
      ></jb-textarea>
    </div>
  </form>
  <div *ngIf="!isCreate">
    <p class="jb-ft-classic jb-detail-title jb-mtmb-0">Job title</p>
    <p class="jb-ft-classic jb-detail-info jb-mtmb-0">$Pay</p>
    <p class="jb-ft-classic jb-detail-info jb-mtmb-0">Location</p>
    <p class="jb-ft-classic jb-detail-info jb-mtmb-0">Time</p>
    <p class="jb-ft-classic jb-detail-info jb-mtmb-0">Description:</p>
    <p class="jb-ft-normal jb-detail-description jb-mtmb-0">
      xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx
      xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx
      xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx
      xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx
      xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx
      xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx
      xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx
    </p>
  </div>
</div>
