.jb-job-detail-wrapper {
  width: 690px;
  height: 645px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  padding: 5px;
}

/* Hide scrollbar in WebKit browsers */
.jb-job-detail-wrapper::-webkit-scrollbar {
  display: none;
}

.jb-detail-title {
  font-size: 500%;
}

.jb-detail-info {
  font-size: 300%;
}

.jb-detail-description {
  font-size: 200%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.jb-detail-card {
  position: relative;
  width: 450px;
  top: 255px;
  left: 25px;
  font-size: 65%;
  text-align: left;
}
