.jb-icon {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.jb-icon-white {
  filter: invert(100%) sepia(100%) saturate(0%) brightness(200%) !important;
}

.jb-icon-grey {
  filter: brightness(0) saturate(100%) invert(77%) sepia(80%) saturate(1%)
    hue-rotate(19deg) brightness(94%) contrast(99%) !important;
}

.jb-icon-black {
  filter: brightness(0) saturate(100%) !important;
}

.jb-icon-orange {
  filter: brightness(0) saturate(100%) invert(59%) sepia(63%) saturate(4205%)
    hue-rotate(7deg) brightness(101%) contrast(102%);
}

.jb-icon-red {
  filter: brightness(0) saturate(100%) invert(26%) sepia(100%) saturate(7411%) hue-rotate(358deg) brightness(105%) contrast(111%);
}

.jb-i-stars {
  background-image: url('src/assets/icons/stars.svg');
}

.jb-i-fold-left {
  background-image: url('src/assets/icons/arrow-bar-left.svg');
}

.jb-i-sign-off {
  background-image: url('src/assets/icons/box-arrow-right.svg');
}

.jb-i-close {
  background-image: url('src/assets/icons/x.svg');
}

.jb-i-check {
  background-image: url('src/assets/icons/check.svg');
}

.jb-i-plus {
  background-image: url('src/assets/icons/plus-lg.svg');
}

.jb-i-dot {
  background-image: url('src/assets/icons/dot.svg');
}

.jb-i-down {
  background-image: url('src/assets/icons/caret-down-fill.svg');
}