<div class="jb-posted-job-filter-bar jb-bdr-r-50 jb-bg-clr-white jb-sd-el">
  <div class="jb-posted-job-filter-buttons">
    <button
      class="jb-posted-job-filter-button jb-sd-el jb-bg-clr-navy jb-bdr-r-50"
    >
      <span class="jb-ft-clr-white">{{
        'posted-job.filter.pay' | translate
      }}</span>
    </button>
    <button
      class="jb-posted-job-filter-button jb-sd-el jb-bg-clr-navy jb-bdr-r-50"
    >
      <span class="jb-ft-clr-white">{{
        'posted-job.filter.location' | translate
      }}</span>
    </button>
    <button
      class="jb-posted-job-filter-button jb-sd-el jb-bg-clr-navy jb-bdr-r-50"
    >
      <span class="jb-ft-clr-white">{{
        'posted-job.filter.time' | translate
      }}</span>
    </button>
  </div>
</div>

<div class="jb-job-card-column">
  <div class="jb-posted-job-group">
    <div class="jb-posted-job-group-option">
      <div class="jb-posted-job-icon-text-container">
        <div class="jb-btn-l-sqr jb-icon jb-i-dot jb-icon-black"></div>
        <span class="jb-ft-classic jb-posted-job-date">{{
          'posted-job.job.time' | translate
        }}</span>
      </div>
    </div>
    <div class="jb-posted-job-group-card"><jb-job-card></jb-job-card></div>
    <div class="jb-posted-job-group-option">
      <div class="jb-posted-job-icon-text-container">
        <span class="jb-ft-classic">{{
          'posted-job.job.options' | translate
        }}</span>
        <div class="jb-btn-l-sqr jb-icon jb-i-down jb-icon-orange"></div>
      </div>
    </div>
  </div>

  <div class="jb-posted-job-group">
    <div class="jb-posted-job-group-option">
      <div class="jb-posted-job-icon-text-container">
        <div class="jb-btn-l-sqr jb-icon jb-i-dot jb-icon-black"></div>
        <span class="jb-ft-classic jb-posted-job-date">{{
          'posted-job.job.time' | translate
        }}</span>
      </div>
    </div>
    <div class="jb-posted-job-group-card"><jb-job-card></jb-job-card></div>
    <div class="jb-posted-job-group-option">
      <div class="jb-posted-job-icon-text-container">
        <span class="jb-ft-classic">{{
          'posted-job.job.options' | translate
        }}</span>
        <div class="jb-btn-l-sqr jb-icon jb-i-down jb-icon-orange"></div>
      </div>
    </div>
  </div>
</div>
