.jb-posted-job-filter-bar {
  position: fixed;
  top: 180px;
  left: 29.5%;
  width: 40%;
  height: 100px;
  z-index: 1; /* Ensure filter bar display at 1st layer on the view */
}

.jb-posted-job-filter-buttons {
  display: inline;
}

.jb-posted-job-filter-button {
  position: relative;
  height: 80px;
  width: 31.2%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10px;
  border: 0px;
  left: 0.2%;
}

.jb-job-card-column {
  width: 500px;
  position: absolute;
  top: 300px;
  left: calc(50% - 540px);
}

.jb-posted-job-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.jb-posted-job-group-option {
  padding: 10px;
}

.jb-posted-job-group-card {
  padding: 10px;
  flex-grow: 1;
}

.jb-posted-job-icon-text-container {
  display: flex;
  align-items: center;
  font-size: 40px;
  gap: 10px;
}

.jb-posted-job-date {
  width: 145px;
}
