<nav class="navbar navbar-expand-lg navbar-light bg-light jb-navbar jb-bg-clr-navy jb-ft-classic jb-sd-el">
  
  <!-- Brand -->
  <a class="jb-navbar-brand jb-clr-teal">JobBot</a>
  
  <!-- AI search bar -->
  <input class="form-control jb-search jb-bdr-r-10 jb-ft-clr-grey" placeholder="Search everything...">
  
  <!-- Functional buttons -->
  <a class="btn btn-primary btn-lg active jb-navbar-btn jb-mr-40 jb-btn-l jb-bg-clr-grass jb-ft-pst-ctr">
    <div class="jb-sd-ft">+</div>
  </a>
  <a class="btn btn-primary btn-lg active jb-navbar-btn jb-btn-l jb-bg-clr-grass jb-ft-pst-ctr">
    <div class="jb-sd-ft">Login</div>
  </a>

</nav>

<div class="jb-sidebar jb-bg-clr-green jb-sd-el-inner jb-ft-normal">
  <div class="jb-avatar">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/D-ABYL_Lufthansa_B748_FRA_%2850549824683%29.jpg/1920px-D-ABYL_Lufthansa_B748_FRA_%2850549824683%29.jpg" class="jb-img-avatar jb-img-round">
    <div class="jb-username">
      <span>DizzyBot</span>
    </div>
  </div>
  <div class="jb-sidebar-btn">
    <button class="btn-lg jb-btn-block jb-sd-el jb-btn-clr-green-active">
      <span class="jb-ft-clr-black">Dashboard</span>
    </button>
    <button class="btn-lg jb-btn-block jb-sd-el jb-btn-clr-green jb-mt-5">
      <span class="jb-ft-clr-black">My profile</span>
    </button>
    <button class="btn-lg jb-btn-block jb-sd-el jb-btn-clr-green jb-mt-5">
      <span class="jb-ft-clr-black">My current jobs</span>
    </button>
    <button class="btn-lg jb-btn-block jb-sd-el jb-btn-clr-green jb-mt-5">
      <span class="jb-ft-clr-black">My posted jobs</span>
    </button>
    <button class="btn-lg jb-btn-block jb-sd-el jb-btn-clr-green jb-mt-5">
      <span class="jb-ft-clr-black">Account</span>
    </button>
  </div>
  <div class="jb-sidebar-fn-btn">
    <a class="btn btn-primary btn-lg active jb-sidebar-btn-collapse jb-btn-l-sqr jb-bdr-c jb-btn-clr-green jb-sd-el">
    </a>
    <a class="btn btn-primary btn-lg active jb-sidebar-btn-logoff jb-btn-l-sqr jb-bdr-c jb-btn-clr-pink jb-sd-el">
    </a>
  </div>
</div>