<nav
  class="navbar navbar-expand-lg navbar-light bg-light jb-navbar jb-bg-clr-navy jb-ft-classic jb-sd-el"
>
  <!-- Brand -->
  <a (click)="openSideBar()" class="jb-navbar-brand jb-ft-clr-teal">
    {{
      (isUserLoggedIn()
        ? 'main-page.navbar.greeting'
        : 'main-page.navbar.brand'
      ) | translate: { username: getUserName() }
    }}
  </a>

  <!-- AI search bar -->
  <input
    class="form-control jb-search jb-bdr-r-10 jb-ft-clr-grey"
    [placeholder]="'main-page.navbar.searchBar' | translate"
  />

  <!-- Functional buttons -->
  <a
    *ngIf="isUserLoggedIn()"
    (click)="openCreateJobModal()"
    class="btn btn-primary btn-lg active jb-navbar-btn jb-btn-l jb-bg-clr-grass jb-ft-pst-ctr"
  >
    <div class="jb-sd-ft">
      {{ 'main-page.navbar.button.create' | translate }}
    </div>
  </a>
  <a
    *ngIf="!isUserLoggedIn()"
    (click)="openAuthModal()"
    class="btn btn-primary btn-lg active jb-navbar-btn jb-btn-l jb-bg-clr-grass jb-ft-pst-ctr"
  >
    <div class="jb-sd-ft">
      {{ 'main-page.navbar.button.login' | translate }}
    </div>
  </a>
</nav>

<jb-auth-modal></jb-auth-modal>
<jb-job-card-modal [createMode]="true"></jb-job-card-modal>

<!-- Side bar -->
<div
  *ngIf="isSideBarEnabled"
  class="jb-sidebar jb-bg-clr-green jb-sd-el-inner jb-ft-normal"
>
  <div class="jb-avatar">
    <jb-avatar></jb-avatar>
    <div class="jb-username">
      <span>{{
        'main-page.sidebar.username' | translate: { username: getUserName() }
      }}</span>
    </div>
  </div>
  <div class="jb-sidebar-btn">
    <button
      routerLink="/dashboard"
      class="btn-lg jb-btn-block jb-sd-el jb-btn-clr-green{{
        activePage == 'dashboard' ? '-active' : ''
      }} jb-bdr-r-10"
      (click)="onClickPage('dashboard')"
    >
      <span class="jb-ft-clr-black">{{
        'main-page.sidebar.button.dashboard' | translate
      }}</span>
    </button>
    <button
      class="btn-lg jb-btn-block jb-sd-el jb-btn-clr-green jb-mt-5 jb-bdr-r-10"
    >
      <span class="jb-ft-clr-black">{{
        'main-page.sidebar.button.profile' | translate
      }}</span>
    </button>
    <button
      class="btn-lg jb-btn-block jb-sd-el jb-btn-clr-green jb-mt-5 jb-bdr-r-10"
    >
      <span class="jb-ft-clr-black">{{
        'main-page.sidebar.button.acceptedJobs' | translate
      }}</span>
    </button>
    <button
      routerLink="/my-posted-jobs"
      class="btn-lg jb-btn-block jb-sd-el jb-btn-clr-green{{
        activePage == 'my-posted-jobs' ? '-active' : ''
      }} jb-mt-5 jb-bdr-r-10"
      (click)="onClickPage('my-posted-jobs')"
    >
      <span class="jb-ft-clr-black">{{
        'main-page.sidebar.button.postedJobs' | translate
      }}</span>
    </button>
    <button
      class="btn-lg jb-btn-block jb-sd-el jb-btn-clr-green jb-mt-5 jb-bdr-r-10"
    >
      <span class="jb-ft-clr-black">{{
        'main-page.sidebar.button.account' | translate
      }}</span>
    </button>
  </div>
  <div class="jb-sidebar-fn-btn">
    <a
      (click)="collapseSideBar()"
      class="btn btn-primary btn-lg active jb-sidebar-btn-collapse jb-btn-l-sqr jb-bdr-c jb-btn-clr-green jb-sd-el"
    >
      <div
        class="jb-icon jb-i-fold-left jb-i-container-fold-left jb-icon-black"
      ></div>
    </a>
    <a
      (click)="logout()"
      class="btn btn-primary btn-lg active jb-sidebar-btn-logoff jb-btn-l-sqr jb-bdr-c jb-btn-clr-pink jb-sd-el"
    >
      <div
        class="jb-icon jb-i-sign-off jb-i-container-sign-off jb-icon-black"
      ></div>
    </a>
  </div>
</div>

<!-- Main area -->
<router-outlet></router-outlet>
