.jb-job-detail-form-wrapper {
  position: absolute;
  top: 14.5%;
  right: 30px;
  width: 690px;
}

.jb-job-discard-button {
  border: none;
  padding: 0px !important;
  position: absolute;
  bottom: 35px;
  right: 150px;
}

.jb-job-accept-button {
  border: none;
  padding: 0px !important;
  position: absolute;
  bottom: 35px;
  right: 30px;
}

.jb-job-detail-func-group {
  display: inline-block;
}

.jb-modal-container-bar {
  width: 3px;
  height: 810px;
  position: absolute;
  left: 50%;
  top: 5%;
}
