.jb-bg-clr-navy {
  background-color: #141E46 !important;
}

.jb-bg-clr-grass {
  background-color: #A4CAA3 !important;
}

.jb-bg-clr-green {
  background-color: #41B06E !important;
}

.jb-bg-clr-beige {
  background-color: rgba(255, 245, 224, 0.8) !important;
}

.jb-btn-clr-green {
  background-color: #8DECB4 !important;
}

.jb-btn-clr-green-active {
  background-color: #DCFFEA !important;
}

.jb-btn-clr-pink {
  background-color: #FBB8A9 !important;
}

.jb-clr-teal {
  color: #00A69C !important;
}

.jb-ft-clr-grey {
  color: #828282 !important;
}

.jb-ft-clr-black {
  color: #000000 !important;
}