.jb-bg-clr-navy {
  background-color: #141e46 !important;
}

.jb-bg-clr-grass {
  background-color: #a4caa3 !important;
}

.jb-bg-clr-green {
  background-color: #41b06e !important;
}

.jb-bg-clr-beige {
  background-color: rgba(255, 245, 224, 0.8) !important;
}

.jb-bg-clr-white {
  background-color: #ffff !important;
}

.jb-btn-clr-green {
  background-color: #8decb4 !important;
}

.jb-btn-clr-green-active {
  background-color: #dcffea !important;
}

.jb-btn-clr-pink {
  background-color: #fbb8a9 !important;
}

.jb-btn-clr-grey {
  background-color: #d9d9d9 !important;
}

.jb-ft-clr-teal {
  color: #00a69c !important;
}

.jb-ft-clr-grey {
  color: #828282 !important;
}

.jb-ft-clr-black {
  color: #000000 !important;
}

.jb-ft-clr-white {
  color: #ffffff !important;
}

.jb-ft-clr-red {
  color: #a90000 !important;
}

.jb-ovly-clr-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.jb-pmpt-clr-red {
  background-color: #a90000 !important;
}
