.jb-bg-clr-navy {
  background-color: #141e46 !important;
}

.jb-bg-clr-grass {
  background-color: #a4caa3 !important;
}

.jb-bg-clr-green {
  background-color: #41b06e !important;
}

.jb-bg-clr-beige {
  background-color: rgba(255, 245, 224, 0.8) !important;
}

.jb-btn-clr-green {
  background-color: #8decb4 !important;
}

.jb-btn-clr-green-active {
  background-color: #dcffea !important;
}

.jb-btn-clr-pink {
  background-color: #fbb8a9 !important;
}

.jb-clr-teal {
  color: #00a69c !important;
}

.jb-ft-clr-grey {
  color: #828282 !important;
}

.jb-ft-clr-black {
  color: #000000 !important;
}
