<div *ngIf="display">
  <div id="modal" class="jb-modal-overlay jb-ovly-clr-black jb-anmt-fade">
    <div class="jb-modal-container jb-bg-clr-white jb-bdr-r-50 jb-sd-el">
      <button
        type="button"
        class="jb-modal-close-button jb-btn-clr-grey jb-btn-l-sqr jb-bdr-c"
        (click)="close()"
      >
        <div class="jb-btn-l-sqr jb-icon jb-i-close jb-icon-orange"></div>
      </button>
      <ng-container
        *ngTemplateOutlet="template; context: context"
      ></ng-container>
    </div>
  </div>
</div>
