.jb-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure it appears in front */
}

.jb-modal-close-button {
  border: none;
  position: relative;
  left: 1375px;
  top: 5px;
  padding: 0px !important;
}

.jb-modal-container {
  position: relative;
  width: 1500px;
  height: 900px;
  padding: 20px;
}
